.chatbotwrapper {
    min-height: 650px;
    max-height: 650px;
    min-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-items: center;
    overflow: visible;
    position: sticky;
    top: 20px;
    @apply lg:mt-20 mt-5 sm:border p-3 rounded ;
}
