.overlay {
    background: rgba(0, 0, 0, 0.2);
    @apply fixed hidden md:flex top-0 left-0 z-[996] h-dvh w-dvw;
}

.background {
    @apply fixed hidden md:flex bg-white   lg:w-3/5 xl:w-1/2 w-3/4  h-dvh top-0  z-[998]; // Keep z-index as is
    transition: all 0.2s;
}

.cont {
    @apply fixed hidden md:flex top-0 z-[999] h-dvh w-dvw  items-center justify-center;
    transition: all 0.2s;
}
.minicont {
    @apply fixed md:hidden bg-white flex top-0 z-[999] h-dvh w-dvw  items-center justify-center;
    transition: all 0.2s;
}
.navigation {
    @apply z-[999] h-dvh; // Increase z-index
}
