//Product Colors

.text-hello {
    color: var(--hello-color) !important;
}

.text-campaign {
    color: var(--campaign-color) !important;
}

.text-segmentors {
    color: var(--segmentors-color) !important;
}

.text-opt {
    color: var(--opt-color) !important;
}

.text-sms {
    color: var(--sms-color) !important;
}

.text-rcs {
    color: var(--rcs-color) !important;
}

.text-email {
    color: var(--email-color) !important;
}

.text-whatsapp {
    color: var(--whastapp-color) !important;
}

.text-voice {
    color: var(--voice-color) !important;
}

.text-numbers {
    color: var(--numbers-color) !important;
}

.text-shorturl {
    color: var(--shorturl-color) !important;
}

.text-knowledgebase {
    color: var(--knowledgebase-color) !important;
}
.text-home {
    color: var(--accent-color) !important;
}

@mixin product-color($name) {
    .#{$name} {
        &_bg {
            background-color: var(--#{$name}-color) !important;
        }
        &_text {
            color: var(--#{$name}-color) !important;
        }

        &_lite {
            &_bg {
                background-color: var(--#{$name}-lite-color) !important;
            }
            &_text {
                color: var(--#{$name}-lite-color) !important;
            }
        }
        &_dark {
            &_bg {
                background-color: var(--#{$name}-dark-color) !important;
            }
            &_text {
                color: var(--#{$name}-dark-color) !important;
            }
        }
    }
}

@include product-color('hello');
@include product-color('campaign');
@include product-color('segmento');
@include product-color('opt');
@include product-color('sms');
@include product-color('rcs');
@include product-color('email');
@include product-color('whatsapp');
@include product-color('voice');
@include product-color('numbers');
@include product-color('shorturl');
@include product-color('knowledgebase');
