//Product Colors

.text-hello {
    color: var(--hello-color) !important;
}

.text-campaign {
    color: var(--campaign-color) !important;
}

.text-segmentors {
    color: var(--segmentors-color) !important;
}

.text-opt {
    color: var(--opt-color) !important;
}

.text-sms {
    color: var(--sms-color) !important;
}

.text-rcs {
    color: var(--rcs-color) !important;
}

.text-email {
    color: var(--email-color) !important;
}

.text-whatsapp {
    color: var(--whastapp-color) !important;
}

.text-voice {
    color: var(--voice-color) !important;
}

.text-numbers {
    color: var(--numbers-color) !important;
}

.text-shorturl {
    color: var(--shorturl-color) !important;
}

.text-knowledgebase {
    color: var(--knowledgebase-color) !important;
}
.text-home{
    color: var(--accent-color) !important;
}
