.container {
    @apply mx-auto px-4 md:px-10;
}
body {
    overflow-x: hidden;
}

.skeleton {
    @apply bg-slate-50 rounded-sm;
}

.bg-gray {
    @apply bg-gray-50;
}

.cont {
    @apply flex flex-col;
    &_gap {
        @apply gap-6;
    }
    &_p {
        @apply lg:py-20 md:py-12 py-6;
    }
    &_w {
        @apply max-w-[1000px] w-full;
    }
}

.btn {
    &.btn-primary {
        color: var(--white-color);
        @apply hover:bg-gray-700;
        &.btn-outline {
            @apply text-primary hover:text-white;
        }
    }
    &.btn-sm {
        @apply px-3 text-base font-normal;
    }
    &.btn-md {
        height: fit-content !important;
        width: fit-content;
        min-height: auto !important;
        @apply px-4 py-2 text-base font-normal;
    }
    &.btn-icon {
        height: fit-content !important;
        width: fit-content !important;
        min-height: auto !important;
        &:hover {
            background-color: rgba(0, 0, 0, 0.059);
        }
        @apply p-1 bg-transparent border-none shadow-none;
    }
    &.btn-otp {
        @apply p-3;
        height: fit-content !important;
        width: fit-content !important;
        min-height: auto !important;
    }
    &.btn-accent {
        color: var(--white-color);
        @apply hover:bg-gray-700;
        &.btn-outline {
            @apply text-accent hover:bg-accent hover:text-white;
        }
        &:disabled {
            @apply bg-gray-300 text-primary;
        }
    }
    &.btn-secondary {
        @apply text-accent;
    }
    &.btn-white {
        @apply text-black bg-white hover:bg-primary hover:text-white outline-none border-none shadow-none;
        &.btn-outline {
            @apply text-white hover:bg-accent hover:text-white;
        }
    }
    &.social-icon {
        @apply p-2 h-fit w-fit min-h-fit border border-gray-300 rounded hover:bg-gray-50 hover:border-accent;
    }
    &.btn-hello {
        @apply bg-[var(--hello-color)] text-black outline-none border-black shadow-none;
        &.btn-outline {
            @apply border-[var(--hello-dark-color)] text-[var(--hello-dark-color)] bg-transparent hover:bg-[var(--hello-color)] hover:text-black;
        }
    }
}

.list-disc {
    list-style: disc;
    @apply ml-5;
}
.text-link {
    &.active-link {
        color: var(--link-color) !important;
    }
    &::after {
        background-color: var(--link-color);
    }

    &:hover {
        color: var(--link-color);
    }
}

.text-link-white {
    &::after {
        background-color: var(--neutral-color);
    }

    &:hover {
        color: var(--neutral-color);
    }
}

.text-link,
.text-link-white {
    cursor: pointer !important;
    position: relative;
    transition: color 0.1s ease-in-out;
    width: fit-content;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.1s ease-in-out;
    }

    &:hover::after {
        transform: scaleX(1);
    }
}

//Button with arraw
$button-transition-timing: 100ms;

.link-btn {
    @apply flex items-center gap-1 w-fit;

    .arrow-icon {
        overflow: visible;
        margin-left: 3px;
        width: 8px;
    }

    .arrow-head {
        transform: translateX(0);
        transition: transform $button-transition-timing ease-in-out;
    }

    .arrow-body {
        opacity: 0;
        transform: scaleX(1);
        transition: transform $button-transition-timing ease-in-out, opacity $button-transition-timing ease-in-out;
    }

    &:hover {
        // color: var(--link-color);
        .arrow-head {
            transform: translateX(3px);
        }

        .arrow-body {
            opacity: 1;
            transform: scaleX(2);
        }
    }

    &.hide-ico {
        .arrow-icon {
            transition: all $button-transition-timing ease-in-out;
            opacity: 0;
        }
    }
}

.LinkButtonCard:hover .link-btn {
    .arrow-head {
        transform: translateX(5px);
    }

    .arrow-body {
        opacity: 1;
        transform: scaleX(3);
    }

    &.hide-ico {
        & .arrow-icon {
            opacity: 1;
        }
    }
}

.collapse:not(.collapse-close):has(> input[type='radio']:checked) {
    @apply border rounded;
    .collapse-title {
        background-color: var(--secandary-color);
    }
}

//custom tab for pricing
.tabs {
    @apply rounded border overflow-hidden p-0;
    .tab {
        height: 38px !important;
        background: var(--white-color);
        @apply rounded-none text-primary font-semibold text-base border-none;
        &.tab-active {
            background: var(--secandary-color) !important;
            color: var(--primary-color) !important;
        }
    }
}

.pricing-country-input {
    .wrapper {
        border-radius: 4px !important;
    }
    &:hover {
        box-shadow: none !important;
    }
}

.jiMOeR .wrapper:hover {
    box-shadow: none !important;
}
.jiMOeR .wrapper {
    box-shadow: none !important;
}

//SMS OTP slider
.input-slider-padding {
    padding: 0 56px;
    @media only screen and (max-width: 1025px) {
        padding: 0 32px;
    }
    @media only screen and (max-width: 780px) {
        padding: 0 0px;
    }
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 20px;
}

.slider::-webkit-slider-runnable-track {
    height: 20px;
    background: linear-gradient(90deg, rgba(41, 166, 83, 0.15) 0%, #29a653 100%);
    border-radius: 16px;

    stroke: #5d6164;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid rgb(88, 88, 88);
    box-shadow: -1207px 0 0 1200px #307368;
}

.nav-show {
    @apply left-0;
}
.nav-hide {
    @apply left-[-2600px];
}

.code-m-0 {
    margin: 0px !important;
    border: none !important;
    border-radius: 0px !important;
    height: 100%;
    width: 100%;
}
.code-tab-active {
    @apply bg-primary;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
.marquee {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    animation: marquee 15s linear infinite;
    display: flex;

    span {
        margin: 0 24px;
        display: inline-block;
    }
    .yellow {
        text-shadow: 4px 4px #f4ff80 !important;
    }
    .purple {
        text-shadow: 4px 4px #f699ff !important;
    }
    .blue {
        text-shadow: 4px 4px #26d9d9 !important;
    }
}


.tooltip.tooltip-modal {
    &:before {
        @apply tooltip-secondary w-full z-[10001];
    }
}

:root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])):has(.modal-scrollable) {
    overflow: scroll !important;
}

.input, select{
    @apply focus:!outline-none;
}