// signup
.otp-input {
    max-width: 40px;
    height: 40px;
    text-align: center;
}
.signup {
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type='number'] {
        -moz-appearance: textfield;
    }
}

// /hellonew
.ai-fuled {
    text-shadow: 4px 4px #26d9d9;
    position: relative;
}

//blog
.blog-body-cont {
    h2 {
        @apply text-2xl mt-6 mb-1;
    }
    h3 {
        @apply text-xl mt-4 mb-0;
    }
    h4 {
        @apply text-lg mt-2 mb-2;
    }
    h5 {
        @apply text-lg mt-1 mb-1;
    }
    a {
        @apply text-blue-600 hover:text-blue-700;
    }
    ul {
        @apply list-disc flex flex-col gap-3 mb-4 pl-2;
    }
    ol {
        @apply list-decimal flex flex-col gap-3 mb-4 pl-8;
    }
    strong {
        @apply font-bold;
    }
    hr{
        @apply mt-2
    }
    span{
        height: 8px;
    }
    br {
        &.br_1{
            height: 1px;
            max-height:1px;
            font-size: 1px;
            line-height: 1px;
        }
        font-size: 8px;
        line-height: 8px;
    }
}
