// signup
.otp-input {
    max-width: 40px;
    height: 40px;
    text-align: center;
}
.signup {
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type='number'] {
        -moz-appearance: textfield;
    }
}

// /hellonew
.ai-fuled {
    text-shadow: 4px 4px #26d9d9;
    position: relative;
}

//blog
.blog-body-cont {
    h2 {
        @apply text-2xl mt-10;
    }
    h3 {
        @apply text-xl mt-3;
    }
    h4 {
        @apply text-lg;
    }
    a {
        @apply text-blue-600 hover:text-blue-700;
    }
}

