:root {
    //color
    --primary-color: #212528;
    --secandary-color: #e2f0ff;
    --accent-color: #1e75ba;
    --neutral-color: #fafafa;

    //common color
    --link-color: #1e75ba;
    --white-color: #ffffff;
}
