:root {
    //color
    --primary-color: #212528;
    --secandary-color: #e2f0ff;
    --accent-color: #1e75ba;
    --neutral-color: #fafafa;
    --gray-color: #808080;

    //common color
    --link-color: #1e75ba;
    --white-color: #ffffff;

    //product colors
    --hello-color: #f2ca55;
    --campaign-color: #aa50f6;
    --segmentors-color: #e55ca1;
    --opt-color: #1258a3;
    --sms-color: #212528;
    --rcs-color: #1a73e8;
    --email-color: #cc5229;
    --whastapp-color: #29a653;
    --voice-color: #696bef;
    --numbers-color: #24b2b2;
    --shorturl-color: #de8644;
    --knowledgebase-color: #f2ca55;
}
