:root {
    //color
    --primary-color: #212528;
    --secandary-color: #e2f0ff;
    --accent-color: #1e75ba;
    --neutral-color: #fafafa;
    --gray-color: #808080;

    //common color
    --link-color: #1e75ba;
    --white-color: #ffffff;

    //product colors
    --hello-color: #f2ca55;
    --hello-lite-color: #fdf4e2;
    --hello-dark-color: #8c5d00;

    --segmento-color: #e55ca1;
    --segmento-lite-color: #fceff6;
    --segmento-dark-color: #80335a;

    --campaign-color: #aa50f6;
    --campaign-lite-color: #f6effc;
    --campaign-dark-color: #5f388c;

    --otp-color: #1e75ba;
    --otp-lite-color: #e2f0ff;
    --otp-dark-color: #1258a3;

    --sms-color: #1e75ba;
    --sms-lite-color: #e2f0ff;
    --sms-dark-color: #1258a3;

    --rcs-color: #1a73e8;
    --rcs-lite-color: #e7f1fb;
    --rcs-dark-color: #264d99;

    --email-color: #cc5229;
    --email-lite-color: #f9eae5;
    --email-dark-color: #8c2e0e;

    --whatsapp-color: #29a653;
    --whatsapp-lite-color: #e8f7e8;
    --whatsapp-dark-color: #307368;

    --voice-color: #696bef;
    --voice-lite-color: #ededfd;
    --voice-dark-color: #3a3ba6;

    --numbers-color: #24b2b2;
    --numbers-lite-color: #e2f9f9;
    --numbers-dark-color: #268080;

    --shorturl-color: #de8644;
    --shorturl-lite-color: #fbf1e4;
    --shorturl-dark-color: #804f13;

    --knowledgebase-color: #f2ca55;
    --knowledgebase-lite-color: #fdf4e2;
    --knowledgebase-dark-color: #8c5d00;
}
