@use 'import' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

//styles

body {
    font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    overflow-x: hidden !important;
}

.country-typehead {
    div {
        @apply w-full;
        input {
            padding: 6px 8px !important ;
            @apply border rounded  text-[16px] w-full;
            &::placeholder {
                @apply text-[16px];
            }
        }
    }
    .rbt-menu {
        display: flex !important;

        a {
            &.active {
                @apply bg-secondary;
            }
            @apply hover:bg-secondary text-[16px]
            px-2;
        }
    }
}
.country-list {
    div {
        @apply w-full;
        input {
            padding: 12px 12px !important ;
            @apply border rounded  text-[16px] w-full;
            &::placeholder {
                @apply text-[16px] text-gray-500;
            }
        }
    }
    .rbt-menu {
        @apply bg-white shadow-lg mt-2 rounded;
        display: flex !important;
        a {
            &.active {
                @apply bg-secondary;
            }
            @apply hover:bg-secondary text-[16px] rounded
            px-3 py-2;
        }
    }
    .rbt-highlight-text {
        @apply bg-secondary;
    }
}
.country-list-phone {
    div {
        @apply w-full;
        input {
            @apply rounded  text-[16px] w-8;
            &::placeholder {
                @apply text-[14px] text-gray-500;
            }
        }
    }
    .rbt-menu {
        @apply bg-white shadow-lg mt-2 rounded w-24;
        display: flex !important;
        a {
            &.active {
                @apply bg-secondary;
            }
            @apply hover:bg-secondary text-[16px] rounded
            px-3 py-2;
        }
    }
    .rbt-highlight-text {
        @apply bg-secondary;
    }
}
.rbt-menu {
    @apply w-fit bg-white flex flex-col z-10;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#qrcode {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='100' stroke-dashoffset='50' stroke-linecap='square'/%3e%3c/svg%3e");
    width: 200px;
    height: 200px;
    padding: 25px;
}
.modal {
    .modal-box {
        max-width: 1200px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.collapse-plus > .collapse-title:after {
    display: none !important;
}

:root {
    --int-page-head-prime-color: 11%;
    --zapier: #ff7136;
    --firebase: #ffcc30;
    --freshworks: #2ac89c;
    --hubspot: #ff6c49;
    --tally: #2567b3;
}

.integrations_header {
    background: linear-gradient(90deg, var(--zapier) 11%, rgba(242, 242, 243, 0.91995) 11%, #f2f2f3 100%);
}

.test_Dev {
}
#__next {
    overflow-x: hidden;
}
.clint-input-container {
    .iti--allow-dropdown {
        &:has(.iti--allow-dropdown) {
            margin-bottom: 0;
            > .iti__flag-container {
                display: none;
            }
        }
    }
}

.toast {
    @apply z-[10001] transition-all duration-300;
    .alert {
        @apply rounded-lg px-6 py-3 shadow-md border-none text-lg w-fit max-w-[400px];
        &.alert-danger {
            @apply text-white;
            background: linear-gradient(90deg, #ff4d4f 0%, #f53100 100%);
        }
        &.alert-success {
            @apply bg-green-500 text-white;
        }
        &.alert-info {
            @apply bg-blue-500 text-white;
        }
    }
    &.toast-hidded {
        right: calc(-100% - 12px) !important;
    }
    &.toast-shown {
        right: 12px !important;
    }
}
