.chatbotwrapper {
    margin-top: 80px;
    min-height: 650px;
    max-height: 650px;
    min-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-items: center;
    overflow: visible;
}
