.chatbotwrapper {
    min-height: 650px;
    max-height: 650px;
    min-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-items: center;
    overflow: visible;
    @apply lg:mt-20 mt-5 sm:border lg:border-0 border-0 rounded 
}
