.card {
    @apply flex xl:py-8 xl:pl-8 lg:py-4 lg:pl-4 md:py-8 md:pl-8 py-4 pl-4 gap-3 items-center flex flex-col sm:flex-row rounded-lg hover:shadow-lg;
    .learnmore_btn {
    }
}
.tagline_sm {
    @apply uppercase tracking-widest;
}
.hello {
    background-color: var(--hello-lite-color);
    .tagline_sm {
        color: var(--hello-dark-color);
    }
}
.campaign {
    background-color: var(--campaign-lite-color);
    .tagline_sm {
        color: var(--campaign-dark-color);
    }
}
.segmento {
    background-color: var(--segmento-lite-color);
    .tagline_sm {
        color: var(--segmento-dark-color);
    }
}
.otp {
    background-color: var(--otp-lite-color);
    .tagline_sm {
        color: var(--otp-dark-color);
    }
}
