.overlay {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    top: 0px;
    left: 0px;
    z-index: 995;
}

.background {
    background: rgb(255, 255, 255);
    position: fixed;
    height: 100dvh;
    width: 50dvw;
    min-width: 720px;
    top: 0px;
    left: 0px;
    z-index: 996;
    transition: all 0.2s;
}

.cont {
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    top: 0px;
    left: 0px;
    z-index: 997;
}

.navigation {
    z-index: 999;
}
