.overlay {
    display: none;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    top: 0px;
    left: 0px;
    z-index: 995;
}
.mainnav {
    display: flex;
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    top: 0px;
    z-index: 996;
}
.background {
    background: rgb(255, 255, 255);
    height: 100dvh;
    width: 100%;
    min-width: 720px !important;
}

.cont {
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    top: 0px;
    left: 0px;
    z-index: 998;
}

.navigation {
    z-index: 999;
}
