.lottie_animation {
    width: 100%;
    @media (max-width: 1023px) {
        width: 100% !important;
    }
    @apply flex items-center justify-center cursor-none;

    div {
        height: fit-content !important;
        width: 100% !important;
    }
}
