.heading{
    @apply text-4xl font-bold;
  text-shadow: 2px 2px 0px white;
}
.shadow_black {
    box-shadow: 10px 10px 0px black;
}
.get_started {
    box-shadow: 8px 8px #f4ff80;
    padding: 8px 24px !important;
    @apply bg-white text-black  text-[16px] hover:text-white hover:bg-black;
}