
.hello {
    background-color: #fdf4e2;
    .tagline_sm {
        color: #8c5d00;
    }
}
.campaign {
    background-color: #f6effc;
    .tagline_sm {
        color: #aa50f6;
    }
}
.segmento {
    background-color: #fceff6;
    .tagline_sm {
        color: #80335a;
    }
}
.otp {
    background-color: #e2f0ff;
    .tagline_sm {
        color: #1e75ba;
    }
}
