.ls-3{
    letter-spacing: 0.05rem;
}
// custom margin
.mt-80{
    margin-top: 80px;
}
.my-80{
    margin: 80px 0;
}
.row-gap-26{

    grid-row-gap: 26px;
}
@media only screen and (max-width: 768px) {
    .mt-80{
        margin-top: 30px;
    }
    .my-80{
        margin: 30px 0;
    }
    
  }
//custom gap 
.c-gap-1{
    gap: 24px;
}
.b-bottom-1{
border-bottom: 1px solid hsla(0, 0%, 87%, 1);
}
//custom color
.c-bg-grey{
    background: var(--c-light-grey);
}
.text-grey{
    color: var(--c-grey);
}
.btn-ft{
    width: fit-content!important;
    text-wrap: nowrap!important;

}

.text-white-800{
    color: #EAEAEA!important;
}