.ls-3 {
    letter-spacing: 0.05rem;
}
// custom margin
.mt-80 {
    margin-top: 80px;
}
.my-80 {
    margin: 80px 0;
}
.row-gap-26 {
    grid-row-gap: 26px;
}
@media only screen and (max-width: 768px) {
    .mt-80 {
        margin-top: 30px;
    }
    .my-80 {
        margin: 30px 0;
    }
}
//custom gap
.c-gap-1 {
    gap: 24px;
}
.b-bottom-1 {
    border-bottom: 1px solid hsla(0, 0%, 87%, 1);
}
//custom color
.c-bg-grey {
    background: var(--c-light-grey);
}
.text-grey {
    color: var(--c-grey);
}
.btn-ft {
    width: fit-content !important;
    text-wrap: nowrap !important;
}

.text-white-800 {
    color: #eaeaea !important;
}
.announcement-bar-cont {
    background: linear-gradient(90deg, #1258a3 0%, #1e75ba 100%);
    overflow: hidden;
}
.announcement-bar {
    height: 80px;
    transition: 200ms all ease-in;
    @media only screen and (max-width: 1024px) {
        height: 120px;
    }
    @media only screen and (max-width: 460px) {
        height: 160px;
    }
}

.icon-h-ann {
    height: 14px;
}

.border-3x {
    border: black 8px solid !important;
}
