.ls-3{
    letter-spacing: 0.05rem;
}
// custom margin
.mt-80{
    margin-top: 80px;
}
//custom gap 
.c-gap-1{
    gap: 24px;
}
.b-bottom-1{
border-bottom: 1px solid hsla(0, 0%, 87%, 1);
}
//custom color
.c-bg-grey{
    background: var(--c-light-grey);
}
.text-grey{
    color: var(--c-grey);
}