.centerText {
  display: flex;
  justify-content: center;
}

.alignMiddle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blackBg {
  background-color: black;
  color: white;
}

.height {
  height: 150px;
}

.flexLeft {
  display: flex;
  justify-content: flex-start;
}

.lightBg {
  background: #f2f2f3;
  border-radius: 16px;
}

.cart {
  background-color: #f2f2f3;
  width: 230px;
  height: 120px;
}

@media screen and (min-width: 999px) and (max-width: 1200px) {
  .cart {
    background-color: #f2f2f3;
    width: 200px;
    height: 120px;
  }
}

.circleSize {
  width: '80px';
  height: '80px';
}

.paddingCss {
  margin: 0% 20% 0% 20%;
}

.imgSpace {
  display: flex;
  justify-content: space-evenly;
}

.flexBetween {
  display: flex;
  row-gap: 30px;
}

.imgPadding {
  margin: 0% 7% 0% 7%;
}

.teamStrength {
  text-align: center;
}

.iconSize {
  min-width: 600px;
}

.negativeMargin {
  margin-bottom: -20px;
  z-index: 1;
}

.social-circle {
  color: white !important;
  img {
    height: 90%;
    width: 90%;
    padding: 20%;
  }
}

.developerCard {
  background-color: #212528;
  color: white;
  height: 200px;
  width: clamp(200px, 25vw, 400px);
}

.startUpCart{
    height: 190px;
    width: clamp(190px,25vw,320px);
    background-color: #212528;
  color: white;
}

.iconColor {
  background-color: black;
  color: white;
}

.devImgSize{
    width: 60px;
    height: 60px;
}

.startup-home-img{
    height: 400px;
    width: clamp(300px,25vw,320px);
}
