.centerText {
  display: flex;
  justify-content: center;
}

.paddingCss {
  margin: 0% 20% 0% 20%;
}

.imgSpace {
  display: flex;
  justify-content: space-evenly;
}

.imgPadding {
  margin: 0% 7% 0% 7%;
}

.teamStrength {
  text-align: center;
}
