@import 'reset';
@import 'var';
@import 'sizes';
@import 'custom';
@import 'pricing';
@import 'pages';
@import 'footer';
@import 'navbar';
@import 'div';
@import 'intpage';
@import 'blog';
@import 'login';
@import 'sign-up';
@import 'hello';

// utilities

@import './utilities/colors';


//pages
@import "products";
@import "faq";
@import "chatbot"
