:root {
    --int-page-head-prime-color: 11%;
    --zapier:#ff7136;
    --firebase:#FFCC30;
    --freshworks:#2AC89C;
    --hubspot:#FF6C49;
    --tally: #2567b3;
   
  }
  @mixin intpagecol{
    &.zapier {
      --int-page-color: var(--zapier);
    }
    
    &.firebase {
      --int-page-color: var(--firebase);
    }
    &.freshworks {
      --int-page-color: var(--freshworks);
    }
    &.hubspot {
      --int-page-color: var(--hubspot);
    }
    &.tally {
      --int-page-color: var(--tally);
    }
  }
  
  .int-page-head {

    @include intpagecol();
  
    background: linear-gradient(
      90deg,
      var(--int-page-color) var(--int-page-head-prime-color),
      rgba(242, 242, 243, 0.91995) var(--int-page-head-prime-color),
      #F2F2F3 100%
    );
    img {
      width: 90px;      
    }
    &.tally{
      img{
        background: #2567b3;
        padding: 16px 8px;
        border-radius: 4px;
      }
    }
  }
  
  .col-int {
    @include intpagecol();
    color: var(--int-page-color);
  }
  
.int-feature-box{
    background-color: #F2F2F3;
    h3{
        font-size: 24px;
    }
}
