
#pricing-pills-tab{
  .active{
    background-color: var(--c-light-grey);
  }    
  .nav-item{
    color: var(--black-color);
    border-radius: 6px;
    &:hover{
      background-color: var(--c-light-grey);
    }    
    .nav-link{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 16px 20px ;
      min-width: 120px;
      img{
        height: 30px;
        display: block;
      }
       
    }
    .active{
      background-color: var(--c-light-grey);
    }
  }
}
.total-price{
  background: var(--light-blue);
  border-radius: var(--radius2);
  .total{
    color: var(--whatsapp);
  }
}
.sms-range{
  padding: 0 55px 0 35px;
}
.price-slab{
  .slab{
    .price{
      font-size: 14px;
      color: var(--c-grey);
    }
  }
}
.card-container{
  .card{
    min-height: 250px;
    width: 280px;
    .card-body{
      padding: 24px;
      display: flex;
      flex-direction: column;
    }
  }
}
.card-container{
  .card.kb{
    height: 350px;
    width: 350px;
    .card-body{
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
.card-popular{
border: 2px solid var(--black-color) !important;
box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.popular-chip{
  position: relative;
  top: 13px;
  z-index: 3;
  color:white;  
  border-radius: 100px;  
  padding: 0.1rem 0.7rem;
  background-color: var(--black-color);
  letter-spacing :1.6px ;
  font-weight: 500;
  font-size: 16px;
}
.flex-gap > .card {
  margin: 16px;
}
.text-green{
  color:#29A653;
}

.price-card{
  background: var(--c-light-grey) !important;  
  text-transform: capitalize;
}

.rate-table{
  max-width: 500px;
}
.pagination{
  .page-link{
    cursor: pointer;
  }
}
 
/* .onlyin{
  position: sticky;
  top: 80px;
} */

.price-container{
  min-height: 100px;
}
@media (max-width: 600px) {
  .nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px !important;
    min-width: 64px !important;
    font-size: 10px !important;
    img{
      height: 20px;
      display: block;
    }
    .icon{
      width: 24px;
    }
     
  }
  .selection{
    background-color: #29A653;
  }
}

.wa-pricing-link{
  text-decoration: underline !important;
  cursor: pointer !important;;
}