#productmenu {
  position: absolute;
  padding-top: 60px;
  opacity: 0;
  transition: 0.15s;
  z-index: 10;
  &.active {
    z-index: 11;
    opacity: 1;
  }
  &.annoucmentbar{
    padding-top: 130px!important;
  }
}
.mininav {
  position: fixed;
  z-index: 10;
  top: 0px;
  overflow-y: auto;
  background-color: var(--white-color);
  width: 100vw !important;
  height: 100vh;
  &.annoucmentbar{
    padding-top: 100px!important;
  }
  .mininav-cont {
    width: 100%;
    top: 50px;
    position: relative;
    height: fit-content;
    margin-bottom: 100px;
  }
}
.product-menu-btn {
  width: fit-content;
  transition: 0.15s;
  position: relative;
  &:hover {
    color: var(--c-grey) !important;
    &::before {
      opacity: 1;
      animation: slide1 0.2s ease-in-out forwards;
    }
  }
  &:before {
    position: absolute;
    display: block;
    opacity: 0;
    content: "";
    color: var(--black-color);
    width: 8px;
    height: 8px;
    border-bottom: solid 2px;
    border-right: solid 2px;
    top: 50%;
    right: 0;
  }
}
