
a{
    text-decoration: none!important;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0px!important;
    margin: 0px!important;
}

.btn{
    border-radius: 0px !important;
  }

  .card{
    border-radius: 0px !important;
    img{
        border-radius: 0px !important;
    }
  }

  .bborder-0{
    border-radius: 0px !important;
  }
  .form-control, 
  .form-select, 
  .form-check-input {
    &:focus{
      box-shadow: none !important;
    }
    &:checked {
      background-color: var(--primary-color) !important;
      border-color: var(--primary-color) !important;
    }
  }
