//signup utilities */
.ico-green {
    color: var(--success-color);
}
.progress-line {
    width: 100px;
    height: 1px;
    background-color: var(--c-grey);
}
.progress-line {
    background-color: var(--success-color);
    &__none{
    background-color: var(--c-grey);

    }
}
.btn-login-prime{
    border-radius: 4px !important;
    color: #ffff!important;
    background-color: var(--primary-color)!important;
}
.btn-login-prime-o{
    border-radius: 4px !important;
    border:1px solid var(--primary-color)!important;
    color: var(--primary-color)!important;;
    // background-color: var(--primary-color)!important;
}
.ico-grey{
    color: #8F9396 !important;
}
.hor-line{
    width: 1px ;
    height: 100px;
    background-color: var(--c-grey);
}

//signup main */
.signup {
    
    min-height: 100vh;
    &__left {
        padding: 80px 40px 0 40px;
        @media (max-width: 767px) {
            padding: 24px 24px 24px;
            }
        background-color: var(--primary-light);
        width: 420px;
        @media (max-width: 880px) {
            width: clamp(360px, 50vw, 420px);
        }
        @media (max-width: 767px) {
            flex-grow: 1;
        }
        @media (max-width: 767px) {
            width: 100%;
        }
        &__logo {
            width: 124px;
        }
    }
    &__right {
        padding: 80px 80px 0 80px;
        @media (max-width: 767px) {
            padding: 24px 24px 24px;
            }
        flex-grow: 1;
        &__logo {
            width: 124px;
        }
        @media (max-width: 767px) {
            flex-grow: 0;
        }
    }
}


//signup stepone */
.step-one {
    max-width: 451px;
    &__break {
        &__line {
            display: block;
            height: 1px;
            width: 100%;
            background-color: var(--c-light-grey);
        }
    }
}

//signup steptwo */
.step-two {
    
}
.otp-input {
    max-width: 40px;
}

.ver-email-main {
    max-width: 500px;
    &__input {
        position: relative;
        &__check {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.ver-phone-main {
    max-width: 500px;

    &__input {
        position: relative;
        &__check {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.ver-input {
    @media (max-width: 400px) {
        flex-direction: column;
    }
    &__input {
        @media (max-width: 400px) {
            width: 100%;
        }
    }
}

.step-three {
    &__main {
        max-width: 560px;
    }
}

.step-threeone{
    max-width: 560px;
}
.btn-accept{
    background-color: #E8F7E8 !important;
}
.btn-reject{
    background-color:#F9EAE5 !important;
}