//signup utilities */
.ico-green {
    color: var(--success-color);
}
.signup {
    min-height: 100vh;
    &__left {
        background-color: var(--primary-light);
        width: 420px;
        @media (max-width: 880px) {
            width: clamp(360px, 50vw, 420px);
        }
        @media (max-width: 767px) {
            flex-grow: 1;
        }
        @media (max-width: 767px) {
            width: 100%;
        }
        &__logo {
            width: 124px;
        }
    }
    &__right {
        flex-grow: 1;
        &__logo {
            width: 124px;
        }
        @media (max-width: 767px) {
            flex-grow: 0;
        }
    }
}
