@import "import";

nav{
    height: 60px;

    .msg91-logo-cont{
        height: fit-content;
        a{
            height: fit-content;
            width: fit-content;
            .msg91-logo{
                height: 40px!important;
                width: fit-content!important; 
            }
        }
        
    }
}
.w-nav-menu{
    width:33%;
}
