@import "import";
body {
  font-size: 16px !important;
  color: var(--black-color);
  font-family: var(--c-body) !important;
}
.oh {
  overflow: hidden !important;
}
.section {
  width: 100vw;
}
.c-hover{
  &:hover{
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.15);

  }
}
#navbar{
  position: sticky;
  top: 0;
  z-index: 12;
 background: white;

}
nav {
 
  height: 60px;
  .msg91-logo-cont {
    height: fit-content;
    a {
      height: fit-content;
      width: fit-content;
      .msg91-logo {
        height: 40px !important;
        width: fit-content !important;
      }
    }
  }
}
.w-nav-menu {
  width: 33%;
}

.product-sec {
  height: 90vh;
  .product-card {
    width: 25%;
    height: 100%;
    .product-head {
      position: relative;
      width: 100%;
      height: 70%;
      .product-head-text {
        padding: 25px 0 0 25px;
        position: relative;
        z-index: 1;
      }
      .caimpaign-pro {
        background-image: url(/img/campaign-pro.png);
      }
      .hello-pro {
        background-image: url(/img/hello-pro.png);
      }
      .segmento-pro {
        background-image: url(/img/segmento-pro.png);
      }
      .otp-pro {
        background-image: url(/img/otp-pro.png);
      }
      .product-head-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100% !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        img {
          height: 100%;
          width: 100% !important;
        }
      }
    }
    .pro-alt {
      background-color: #2b2b2b !important;
    }
    .product-content {
      background-color: #333333;
      width: 100%;
      height: 30%;
    }
  }
}
.pro-btn {
  width: 100%;
}
.pro-sec-ico {
  width: 40px;
  height: 40px;
}
.chn-btn {
  width: 240px;
  height: 88px;
  background: var(--c-light-grey);
  transition: 0.15s;
  &:hover {
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.15);
  }
}
.stats-sec {
  height: 35vh;
}
.more-services-sec {
  height: 70vh;
}
.b-right-1 {
  border-right: 2px solid var(--c-light-grey);
}
.more-services {
  background-color: white;
  transition: 0.15s;
  &:hover {
    background-color: var(--c-light-grey);
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.15);
  }
}
//clinnt sroteis
.milkbasket-clint-img{
  width: 100%;
  height: auto;
}
.secc-clint-img{
  width: auto;
  height: 100%;
}
//productmenu
#bgoverlay{
  position: fixed;
  top: 0;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  background: rgba(82, 82, 82, 0.516);
  &.active{
    opacity: 1;
  }
}
#overlaymenucont{
  width: 60%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  position:fixed;
  top: 0;
  padding-left: 120px;
  padding-top: 60px;
  background-color: white;
  left: -100%;
  transform: 0.3;
  &.active{
    left: 0;
  }
}
#productmenu{
  overflow: scroll;
  width: 100%;


}
.menu{
  width: 360px;
  a{
    color: var(--c-grey);
  }
}
.product-menu-btn{
  width: 100%;
  transition: 0.15s;
  &:hover{
    
    color: var(--c-grey)!important;
    background-color: var(--c-light-grey);
  }

}