@import "import";
body {
  font-size: 16px !important;
  color: var(--black-color);
  font-family: var(--c-body) !important;
}
.c-ls-20{
  letter-spacing: .2em;
}
.oh {
  overflow: hidden !important;
}
.heading{
  font-family: var(--c-head);
}
.section {
  width: 100%;
}
.section-x {
  width: 100%;
  padding: 0 100px;
}
.c-hover {
  &:hover {
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.15);
  }
}
.notification{
  min-height: 48px;
}
#navbar {
  position: sticky;
  top: 0;
  z-index: 20;
  background: white;
}
.nav-menu-cont{
  z-index: 21;
  position: relative;

}
.nav-menu {
  top: 0;
  position: relative;
  z-index: 24;
}
nav {
  height: 80px;
  .msg91-logo-cont {
    height: fit-content;
    a {
      height: fit-content;
      width: fit-content;
      .msg91-logo {
        height: 40px !important;
        width: fit-content !important;
      }
    }
  }
}
.w-nav-menu {
  width: 33%;
}

.product-sec {
  height: 90vh;
  .product-card {
    width: 25%;
    height: 100%;
    .product-head {
      position: relative;
      width: 100%;
      min-height: 70%;
      .product-head-text {
        padding: 25px 0 0 25px;
        position: relative;
        z-index: 1;
      }
      .caimpaign-pro {
        background-image: url(/img/campaign-pro.png);
      }
      .hello-pro {
        background-image: url(/img/hello-pro.png);
      }
      .segmento-pro {
        background-image: url(/img/segmento-pro.png);
      }
      .otp-pro {
        background-image: url(/img/otp-pro.png);
      }
      .product-head-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100% !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        img {
          height: 100%;
          width: 100% !important;
        }
      }
    }
    .pro-alt {
      background-color: #2b2b2b !important;
    }
    .product-content {
      background-color: #333333;
      width: 100%;      
    }
  }
}
.pro-btn {
  width: 100%;
}
.pro-sec-ico {
  width: 40px;
  height: 40px;
}
.chn-btn {
  width: 240px;
  height: 88px;
  background: var(--c-light-grey);
  transition: 0.15s;
  &:hover {
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.15);
  }
}
.stats-sec {
  padding: 100px 0;
}
.more-services-sec {
  
}
.b-right-1 {
  border-right: 2px solid var(--c-light-grey);
}
.more-services {
  background-color: white;
  transition: 0.15s;
  &:hover {
    background-color: var(--c-light-grey);
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.15);
  }
}
//clinnt sroteis
.milkbasket-client-img {
  width: 100%;
  height: auto;
}
.secc-client-img {
  width: auto;
  height: 100%;
}
//productmenu
#bgoverlay {
  position: fixed;
  top: 0;
  opacity: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 9;  
  background: rgba(0, 0, 0, 0.2);
  &.active {
    opacity: 1;
    display: block;
  }
}
#overlaymenucont {  
  overflow: auto; 
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 0;  
  padding-top: 60px;
  background-color: white;
  left: -50vw;
  transition: 0.2s; 
  &.active {
    left: 0;
    width: 50%;
  }  
}
#productmenu {
  position: absolute;
  padding-top: 60px;  
  opacity: 0;
  transition: 0.15s;
  z-index: 10;
  &.active {
    z-index: 11;
    opacity: 1;
  }
}
#integrationsmenu {
  padding-top: 60px;
  position: relative;
  width: 100%;
  opacity: 0;
  transition: 0.15s;
  z-index: 10;
  &.active {
    z-index: 11;
    opacity: 1;
  }
}

.menu {  
  a {
    color: var(--c-grey);
  }
}
.product-menu-btn {
  width: 100%;
  transition: 0.15s;
  &:hover {
    color: var(--c-grey) !important;
    background-color: var(--c-light-grey);
  }
}

/* Overwrite the default to keep the scrollbar always visible */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
  overflow: overlay;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}
 /* about-us page scss */
 .ixigoss {
  height: 120px;
 }
 
 .policybazaarss {
  height: 120px;
 }

 .indialendsss {
  height: 120px;
 }
 .trustimage{
  height: 28px;
  width: 187px;
 }
 .more-services-img{
  
 }
 @media only screen and (max-width: 1025px) {
  .trustimage{
    height: 16px;
    width: 107px;
   }
}

@media (min-width: 576px) {
  #productmenu, #integrationsmenu{
    width: 100%;
  }
}
@media (min-width: 768px) {
  #productmenu, #integrationsmenu{
    width: 390px;
  }
}
@media (min-width: 992px) {
  #productmenu, #integrationsmenu{
    width: 460px;
  }
}
@media (min-width: 1200px) {
  #productmenu, #integrationsmenu{
    width: 550px;
  }
}
@media (min-width: 1400px) {
  #productmenu, #integrationsmenu{
    width: 640px;
  }
}

/* Navigation */
.nav-link:hover .nav-line, .nav-link.active .nav-line {
  width: 100%;
}
.nav-line {
  margin-top: 2px;
  height: 3px;
  width: 0;
  background-color: var(--primary-color);
  transition: .2s;
}
.menu-opt:hover {
  color: var(--primary-color)!important;
}
.nav-link:hover {
  color: var(--primary-color);
}

/* constant colors */
.hello-dark{
  color :#8C5D00;
}
.campaign-dark{
  color :#5F388C;
}
.segmento-dark{
  color :#80335A;
}
.otp-dark{
  color :#1258A3;
}
