@import "import";
html,
body,
#__next {
    height: 100%;
}
next-route-announcer {
    p {
        height: 0 !important;
    }
}
body {
    font-size: 16px !important;
    color: var(--black-color);
    font-family: var(--c-body) !important;
    overflow-x: hidden;
}
.mark,
mark {
    padding: 0 !important;
}
.bg-light {
    background: #fafafa;
}
.pr {
    position: relative;
}
.uc {
    text-transform: uppercase;
}
.c-ls-20 {
    letter-spacing: 0.2em;
}
.cp {
    cursor: pointer;
}
.oh {
    overflow: hidden !important;
}
.heading {
    font-family: var(--c-head);
}
.heading-plus {
    font-family: var(--c-body);
}
.section {
    // width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.section-x {
    width: 100%;
    padding: 0 100px;
}
.section-y {
    padding: 80px 0;
}

.c-hover-bg-grey {
    &:hover {
        background-color: var(--c-light-grey);
    }
}
.c-hover {
    &:hover {
        box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.15);
    }
}
.notification {
    min-height: 48px;
}

.w-nav-menu {
    width: 33%;
}
.z-mininav {
    z-index: 101;
    position: absolute;
}

.pro-heading {
    font-size: clamp(18px, 3vw, 28px);
}
.home-pre-heading {
    color: var(--primary-color);
    letter-spacing: 4px;
}
.hero-left {
    position: relative;
    z-index: 9;
}
.hero-right {
    position: relative;
    .hero-img {
        position: absolute;
        width: 600px;
        right: 0;
    }
}
.product-card {
    padding: 24px;
    border-radius: 8px;
    display: block;
    .pro-sec-ico {
        width: clamp(20px, 3vw, 40px);
        height: clamp(20px, 3vw, 40px);
    }
    .pre-heading {
        text-transform: uppercase;
    }
    .pro-heading {
        font-weight: 700;
    }
    .product-img {
        img {
            max-width: 270px;
            width: 100%;
            margin-right: -24px;
        }
    }
    &.hello-card {
        background: var(--hello-light);
        .pre-heading {
            color: var(--hello-dark);
        }
    }
    &.campaign-card {
        background: var(--campaign-light);
        .pre-heading {
            color: var(--campaign-dark);
        }
    }
    &.segmento-card {
        background: var(--segmento-light);
        .pre-heading {
            color: var(--segmento-dark);
        }
    }
    &.otp-card {
        background: var(--otp-light);
        .pre-heading {
            color: var(--otp-dark);
        }
    }
    .pro-text {
        font-size: clamp(12px, 2vw, 18px);
    }
    &:hover {
        box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.15);
    }
}

@media (min-width: 300px) and (max-width: 767px) {
    .hero-right {
        .hero-img {
            display: none;
        }
    }
}
@media (min-width: 768px) and (max-width: 1400px) {
    .hero-right {
        position: relative;
        .hero-img {
            width: 100% !important;
            right: 0px;
        }
    }
}
@media (max-width: 1024px) {
    .product-card {
        .pro-alt {
            background-color: #2b2b2b !important;
        }
    }
    .pro-text {
        font-size: clamp(12px, 4vw, 16px);
    }
    .pro-btn {
        width: 100%;
    }
    .pro-btn-text {
        font-size: 14px;
    }
    .pro-sec-ico {
        width: clamp(20px, 3vw, 40px);
        height: clamp(20px, 3vw, 40px);
    }
}
@media (max-width: 768px) {
    .product-card {
        .pro-alt {
            background-color: #2b2b2b !important;
        }
    }
    .pro-text {
        font-size: clamp(14px, 12vw, 18px);
    }
    .pro-btn {
        width: 100%;
    }
    .pro-btn-text {
        font-size: clamp(14px, 12vw, 18px);
    }
    .pro-sec-ico {
        width: clamp(20px, 3vw, 40px);
        height: clamp(20px, 3vw, 40px);
    }
}
@media (max-width: 576px) {
    .product-grid {
        flex-direction: column;
    }
    .pro-text {
        font-size: clamp(18px, 2vw, 18px);
    }
    .pro-btn {
        width: 100%;
    }
    .pro-btn-text {
        font-size: 18px;
    }
    .pro-sec-ico {
        width: clamp(30px, 5vw, 40px);
        height: clamp(40px, 5vw, 40px);
    }
    .chn-btn {
        width: 100%;
        height: 88px;
        background: var(--c-light-grey);
        transition: 0.15s;
        &:hover {
            box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.15);
        }
    }
    .section-y {
        padding: 40px 0;
    }
}

.stats-sec {
    padding: 100px 0;
}

.b-right-1 {
    border-right: 2px solid var(--c-light-grey);
}
.more-services {
    background-color: #fafafa;
    transition: 0.15s;
    // flex-grow: 1;
    &:hover {
        box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.15);
    }
    .heading {
        font-size: 28px !important;
        @media screen and (max-width: 1400px) {
            font-size: 24px !important;
        }
        @media screen and (max-width: 1200px) {
            font-size: 20px !important;
        }
        @media screen and (max-width: 996px) {
            font-size: 20px !important;
        }
    }
}
//clinnt sroteis

// .img-wapper {
//   img {
//     @media screen and (max-width: 556px) {
//     aspect-ratio:4/3;
//     }
//   }
// }
.milkbasket-client-img {
    background-image: url(../public/img/milkbasket-bg.png);
    width: auto;
    min-height: 314px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 992px) {
        min-height: 220px;
        width: 100%;
    }
    @media screen and (max-width: 576px) {
        min-height: 220px;
        width: 100%;
    }
}
.secc-client-img {
    background-image: url(../public/img/unacademy-bg.png);
    width: 220px;
    height: 220px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 1200px) {
        min-width: 180px;
        min-height: 180px;
    }
    @media screen and (max-width: 992px) {
        min-height: 220px;
        width: 100%;
    }

    @media screen and (max-width: 576px) {
        min-height: 160px;
        width: 100%;
    }
}

.sec-client-img {
    background-image: url(../public/img/ixigo-bg.png);
    width: 220px;
    height: 220px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 1200px) {
        min-width: 180px;
        min-height: 180px;
    }
    @media screen and (max-width: 992px) {
        min-height: 220px;
        width: 100%;
    }

    @media screen and (max-width: 576px) {
        min-height: 160px;
        width: 100%;
    }
}

// .secc-client {
//   background-image:url(../public/img/unacademy-client-img.png);
//   width: 100%;
//   min-width:220px;
//   height:100%;
//   min-height: 300px;
//   height:100%;

//   background-position: 50% 50%;
//   background-repeat: no-repeat;
//   background-size: cover;
//   @media screen and (max-width: 992px) {
//     min-height: 260px;
//     border-radius: 8px 8px 0 0 !important;

//   }
// }
// .sec-client {
//   background-image:url(../public/img/ixigo-client-img.png);
//   width: 100%;
//   min-width:220px;
//   height:100%;
//   min-height: 300px;

//   background-position: 50% 50%;
//   background-repeat: no-repeat;
//   background-size: cover;
//   @media screen and (max-width: 992px) {
//     min-height: 260px;
//     border-radius: 8px 8px 0 0 !important;

//   }
//   @media screen and (max-width: 556px) {
//     height: 160px !important;
//     border-radius: 8px 8px 0 0;

//   }
// }

//productmenu
#bgoverlay {
    position: fixed;
    top: 0;
    opacity: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background: rgba(0, 0, 0, 0.2);
    &.active {
        opacity: 1;
        display: block;
    }
}
#overlaymenucont {
    overflow: auto;
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 60px;
    background-color: white;
    left: -50vw;
    transition: 0.2s;
    &.active {
        left: 0;
        width: 50%;
    }
    &::before {
        display: block;
        content: "";
        position: fixed;
        background: #fff;
        top: 0px;
        height: 110px;
        width: 100%;
        z-index: 99;
    }
}

#integrationsmenu {
    padding-top: 60px;
    position: relative;
    width: 100%;
    opacity: 0;
    transition: 0.15s;
    z-index: 10;
    &.active {
        z-index: 11;
        opacity: 1;
    }
    &.annoucmentbar {
        padding-top: 130px !important;
    }
}

.menu {
    a {
        color: var(--c-grey);
    }
}

@keyframes slide1 {
    0% {
        transform: translate(0, 0) rotate(-45deg);
        opacity: 0;
    }

    100% {
        transform: translate(20px, 0) rotate(-45deg);
        opacity: 1;
    }
}

/* Overwrite the default to keep the scrollbar always visible */
/* ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;  
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}


body::-webkit-scrollbar-button {
  display: none;
} */
/* about-us page scss */
.ixigoss {
    height: 120px;
}

.policybazaarss {
    height: 120px;
}

.indialendsss {
    height: 120px;
}
.trustimage {
    height: 28px;
    width: fit-content;
}
.more-services-img {
    width: 100%;
}
.more-service-img {
    width: 100%;
    @media only screen and (max-width: 992px) {
        width: 75%;
    }
    @media only screen and (max-width: 576px) {
        width: 100%;
    }
}
@media only screen and (max-width: 1025px) {
    .trustimage {
        height: 15px;
        width: fit-content;
    }
}

@media (min-width: 576px) {
    #productmenu,
    #integrationsmenu {
        width: 100%;
    }
}
@media (min-width: 768px) {
    #productmenu,
    #integrationsmenu {
        width: 390px;
    }
}
@media (min-width: 992px) {
    #productmenu,
    #integrationsmenu {
        width: 460px;
    }
}
@media (min-width: 1200px) {
    #productmenu,
    #integrationsmenu {
        width: 550px;
    }
}
@media (min-width: 1400px) {
    #productmenu,
    #integrationsmenu {
        width: 640px;
    }
}

/* Navigation */
.nav-link {
    cursor: pointer;
}
.product-menu-btn:hover .nav-line,
.nav-link:hover .nav-line,
.nav-link.active .nav-line {
    width: 100%;
}
.nav-line {
    margin-top: 2px;
    height: 3px;
    width: 0;
    background-color: var(--primary-color);
    transition: 0.2s;
}

/* constant colors */
.hello-dark {
    color: #8c5d00;
}
.campaign-dark {
    color: #5f388c;
}
.segmento-dark {
    color: #80335a;
}
.otp-dark {
    color: #1258a3;
}
//
.feature-img {
    width: clamp(300px, 50vw, 600px);
    height: auto;
}

/* channel code smaple */
.code-wrp {
    border-radius: 8px;
    background: #000;
    overflow: hidden;
    position: relative;
    .tab-pane:hover {
        .copy-code {
            display: block;
        }
    }
    .copy-code {
        position: absolute;
        right: 32px;
        top: 60px;
        display: none;
        z-index: 9;
        svg {
            height: 16px;
        }
        font-size: small;
        color: #999;
    }
    #pills-tab {
        padding: 8px;
        .nav-link {
            padding: 4px 8px;
            color: #999;
            &.active {
                background-color: #141414;
                color: #fff;
            }
        }
    }
    code[class*="language-"],
    pre[class*="language-"] {
        white-space: break-spaces !important;
        height: 300px;
        border: 0;
        margin: 0;
        border-radius: 0;
        font-size: 0.9em;
        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
            height: 7px;
        }

        &::-webkit-scrollbar-track {
            background: #000;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.3);
            -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
        }
    }
}

/* typeahead */
.rbt-aux {
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    background: #fff;
    .rbt-close-content,
    .visually-hidden {
        display: none;
    }
    button {
        font-size: 14px;
        width: 26px;
        height: 26px;
    }
}

/* case study */
.casestudycard {
    color: var(--black-color);
    width: clamp(300px, 30vw, 400px);
    outline: #e8e8e8 1px solid;
    background-color: white;

    .casestudycard-img {
        height: 110px;
        display: flex;
        align-items: center;
        img {
            max-height: 80px;
            max-width: 80%;
        }
    }
    .lm {
        color: var(--primary-color);
    }
}
.arrow-search {
    font-size: 40px;
}
.arrow-search-btn {
    padding: 0;
    border-top-right-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
}
.check-tie {
    height: var(--c-fs-2);
}
.tei-feture-img {
    width: clamp(400px, 30vw, 500px);
}
@media only screen and (max-width: 600px) {
    .tei-feture-img {
        width: clamp(300px, 80vw, 400px);
    }
}

.integrations-head {
    width: 100%;
    img {
        // width: 80px;
        height: 40px;
    }
}
.check-int {
    width: 25px;
}

.p-int {
    padding: 0 90px;
}

.loading {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        width: 300px;
    }
}

.c-text-link {
    color: var(--black-color);
    &:hover {
        color: var(--primary-color);
    }
}

//prefooter
.feature {
    .more-feature {
        margin-bottom: 24px !important;
    }
}
.req-feature-cont {
    font-family: var(--c-body) !important;
    background-color: var(--light-blue);
    border-radius: 5px !important;
    .me-text {
        padding-left: 20px !important;
    }
    button {
        border: 2px solid var(--otp);
        border-radius: 5px;
        color: var(--otp);
    }
    @media only screen and (max-width: 700px) {
        button {
            background-color: #000;
            width: 200px !important;
        }
    }
}
.message {
    cursor: pointer;
    font: 15px Helvetica, Arial, sans-serif;
    background: #eee;
    padding: 20px;
    text-align: center;
    transition: 100ms ease-in background;
    margin: 10px;
}
.message:hover {
    background: #ccc;
}

.annoucment-bar {
    background: linear-gradient(90deg, #1258a3 0%, #1e75ba 100%);
}
.productmenu-top {
    padding-top: 80px;

}
.bg-integration-cont{
  background-color: rgb(250, 250, 250);
  padding: 80px 0 ;
}
.integrations-card-cont {
  margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; 

    @media only screen and (max-width: 720px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px; 
    }

    @media only screen and (max-width: 500px) {
        grid-template-columns: 1fr;
        gap: 8px; 
    }
    .integrations-card {
      background-color: white;
      border-radius: 8px;
        &:hover {
            box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
            transition: box-shadow 0.1s ease-in-out;
            &:hover {
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }
        }
        .integrations-card-img {
            height: 44px;
            width: auto;
        }
    }
}
