.page-title{
    text-transform: capitalize;
}
.small-heading{
    line-height: 1.5 !important;
}
.otp-heading{
    text-transform: uppercase;
}
.product-banner-wrp{
    &::after{
        content: "";
        height: 2px;
        width: 100%;
        display: block;        
        background: radial-gradient(#777, white 70%);
    }    
}
.product-page-logo{
    height: 60px;
}

.product-page-img {
    width: clamp(80%,80vw,100px);
    box-shadow: 4px 0 42px rgba(0,0,0,.1), -4px -14px 42px rgba(0,0,0,.1);
}